form .row {
	margin-bottom: 10px;
}

/* for radio label */
.form-control label {
	margin-top: -7px;
}

.navbar {
	margin-bottom: 0px;
}

/* for path
.breadcrumb {
	margin-top: -20px;
} */

/* for button */
button .glyphicon {
	margin-right: 10px;
}
