<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.yinhua.core.mapper.MSessionMapper">
	<select id="select" parameterType="string" resultType="int">
		select count(session_id) from m_session where session_id = #{sessionId}
	</select>
    <insert id="insert">
    	insert into m_session values (#{sessionId}, default, null, #{user}, #{ip}, #{comment})
	</insert>
    <update id="update">
    	update m_session
		<set>
		    <if test="dateEnd != null">date_end = default,</if>
		    <if test="user != null">f_user = #{user},</if>
		    <if test="ip != null">f_ip = #{ip},</if>
		    <if test="comment != null">f_comment = #{comment},</if>
		</set>
	  	where session_id = #{sessionId}
	</update>
	<delete id="delete">
		delete from m_session where session_id = #{sessionId}
	</delete>
</mapper>