<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="info.yinhua.core.mapper.MSessionMapper">
    <insert id="insert">
    	insert into m_session values (#{sessionId}, default, null, #{user}, #{ip})
	</insert>
    <update id="update">
    	update m_session
		<set>
		    dateEnd = default
		</set>
	  	where sessionId = #{sessionId}
	</update>
</mapper>