<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>p1</display-name>

	<!-- http://struts.apache.org/docs/webxml.html -->
	<!-- \struts-2.5.2\src\apps\showcase\src\main\webapp\WEB-INF\web.xml -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context*.xml</param-value>
	</context-param>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
    <filter>
        <filter-name>struts-prepare</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareFilter</filter-class>
    </filter>
    <filter>
        <filter-name>struts-execute</filter-name>
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsExecuteFilter</filter-class>
    </filter>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>struts-prepare</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
        <filter-name>struts-execute</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 1.sample是用上面的方式。
    2.如果出现错误The Struts dispatcher cannot be found.(Unhandled exception occurred whilst decorating page)的话，用struts2会返回空白的500页面。
	<filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     -->

	<!--
	 spring配置
	 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>http://displaytag.sf.net</taglib-uri>
			<taglib-location>/WEB-INF/tld/displaytag.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://displaytag.sf.net/el</taglib-uri>
			<taglib-location>/WEB-INF/tld/displaytag-el.tld</taglib-location>
		</taglib>
	</jsp-config>
    
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>default.html</welcome-file>
	</welcome-file-list>

<!-- return 403 -->
    <security-constraint>
        <display-name>No direct JSP access</display-name>
        <web-resource-collection>
            <web-resource-name>No-JSP</web-resource-name>
            <url-pattern>*.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>no-users</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>Don't assign users to this role</description>
        <role-name>no-users</role-name>
    </security-role>

<!-- 只有404页面可以显示 -->
	<error-page>
		<error-code>403</error-code>
		<location>/WEB-INF/jsp/common/error.jsp?type=403</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/common/error.jsp?type=404</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/jsp/common/error.jsp?type=500</location>
	</error-page>
	<error-page>
		<error-code>505</error-code>
		<location>/WEB-INF/jsp/common/error.jsp?type=505</location>
	</error-page>
<!-- servlet3.0 -->
	<error-page>
		<location>/WEB-INF/jsp/common/error.jsp?type=else</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/WEB-INF/jsp/common/error.jsp?type=exception&amp;source=errorpage</location>
	</error-page>
</web-app>