<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 
http://www.hifreud.com/tag/#mybatis-ref
 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"></setting>
	</settings>
	
	<typeAliases>
		<typeAlias alias="NormalUser" type="info.yinhua.core.context.security.NormalUser"/>
		<package name="info.yinhua.core.data.model"/>
		<package name="info.yinhua.web.bean"/>
	</typeAliases>

	<!-- 列出映射文件
	<mappers>
		<mapper resource="sql/MConfig.xml"/>
		<mapper resource="sql/MCode.xml"/>
		<mapper resource="sql/TCustomer.xml"/>
		<mapper resource="sql/t_bom0.xml"/>
	</mappers> --> 
	<!-- Register all interfaces in a package as mappers
	<mappers>
		<package name="sql"/>
	</mappers> -->
	<plugins>
		<plugin interceptor="info.yinhua.core.data.mybatis.PaginationInterceptor">
		</plugin>
	</plugins>
</configuration>